<!DOCTYPE html>
{{- partial "docs/shared" -}}
<html lang="{{ .Site.Language.Lang }}">

<head>
  {{ partial "docs/html-head" . }}
  {{ partial "docs/inject/head" . }}
</head>

<body>
  <input type="checkbox" style="display: none" id="menu-control" />
  <main class="flex container">

    <div class="book-posts">
      {{ partial "docs/mobile-header" . }}
      {{ template "main" . }}
      {{ partial "docs/git-footer" . }}
      {{ partial "docs/inject/footer" . }}
    </div>
  </main>

  {{ partial "docs/inject/body" . }}
  {{ template "_internal/google_analytics_async.html" . }}
</body>

</html>
